@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/assets/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
}
* {
  font-family: "Mona Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.nav {
  height: 68px;
  background-color: #0d1117;

  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links a {
  margin-right: 15px;
  color: #ffffff;
}
.nav i {
  display: flex;
  align-items: center;
  margin-left: 15px;
  color: #ffffff;
  width: 65.36px;
  height: 68px;
  font-size: 16px;
}

.sec-two {
  background-color: #0d1117;

  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 35px;
  flex-direction: column;
}

.h1-mk {
  background-color: #0d1117;

  width: 550px;
  color: #ffffff;
  font-size: 80px;
  height: 44px;
  font-weight: 800;
  margin-top: 78px;
}
.sec-two button {
  background-color: #f6f8fa;
  font-weight: 800;
  padding: 16px 30px 20px;
  width: 273.71px;
  height: 67px;
  border-radius: 10px;
  margin-right: 300px;
}
.sec-two span {
  color: #0d1117;
  font-size: 1.25rem;
  width: 600px;
  height: 67px;
  font: 15px -apple-system, BlinkMac-SystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 800;
  background-color: #f6f8fa;
}
.sec-two p {
  background-color: #0d1117;

  width: 448.57px;
  height: 56px;
  color: #6e6781;
  font-size: 20px;
  margin-top: 350px;
  font-family: "Mona Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 400;
  margin-right: 127px;
}
.sec-two a {
  background-color: #0d1117;
  text-decoration: none;
  color: #f6f8fa;
  margin-right: 350px;
}
.special {
  color: #ffffff;
}
/* image section */
.git {
  background-image: url("./images/light-glow.svg");
  height: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0d1117;
  color: #f6f8fa;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.black-box {
  background: rgb(13, 17, 23);
  width: 800px;
  font-size: 20px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px;
}
span {
  color: rgb(61, 61, 238);
}
.green {
  color: rgb(7, 166, 7);
}
.orange {
  color: rgb(188, 127, 13);
}
.black-box p {
  color: #736d83;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 99px;
  border: 2px solid #5e596b;
  background-color: #5e596b;
}
.circle3 {
  display: flex;
  gap: 10px;
  flex-direction: row;
}
.git a {
  font-weight: 800;
  font-size: 20px;
  margin-top: 30px;
  margin: 0px 0px 40px;
  padding: 0px 16px;
  color: #ffffff;
  text-align: center;
}
.white-sec h1 {
  background: #ffffff;
  font-size: 50px;
  font-weight: 800;
  margin-top: 50px;
  width: 448.57px;
  font-family: "Mona Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
.white-sec {
  height: 100vh;
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  gap: 50px;
  background-color: #ffffff;
}
.four {
  background-color: #ffffff;
  display: flex;
  gap: 25px;
}
.contant h2 {
  background-color: #ffffff;
  color: #0d1117;
  font-weight: 700;
}
.contant p {
  background-color: #ffffff;
  color: #736d83;
  width: 250px;
}
.contant a {
  background-color: #ffffff;
  text-decoration: none;
}
.contant {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-sec {
   /* margin-top: 50px;  */
  /* height: 100vh; */
  background-color: #ffffff;
  background-image: url("./images/square-pattern.png");
    
  border: 2px rgb(244, 155, 23);
  height: 450px;
  display: flex;
  align-items: center;
}
.white-box {
  margin-left: 590px;
   width: 350px; 
  height: 300px;
  display: flex;
  gap: 10px;
margin-left: ;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 40px;
}
.white-box h2 {
  font-size: 35px !important;
  line-height: 28px !important;
  font-weight: 800 !important;
  background-color: #ffffff;
  width: 368.57px;
  padding: 32px;
  height: 56px;
  margin: 0px 0px 8px;
}
.white-box p {
  font-size: 16px;
  color: #736d83;
  background-color: #ffffff;
}
.white-box a {
  text-decoration: none;
  background-color: #ffffff;
}
.button {
  background-color: #ffffff;
}
.button a {
  background-color: #0d1117;
  color: #ffffff;
  width: 219px;
  height: 48px;
  padding: 14.4px 24px 17.6px;
  border-radius: 10px;
}
.git-sec {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  gap: 30px;
  justify-content: space-around;
}
.git-sec a {
  background-color: #ffffff;
  color: #736d83;
}
.link a {
  font-weight: 800;
  font-size: 25px;
  color: #0d1117;
}
.contant4 h4 {
  background-color: #ffffff;
  color: #1f2328;
}
.contant4 {
  font-size: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.all-con {
  margin-top: 79px;
  display: flex;
  gap: 50px;
}
.footer {
  margin-bottom: 300px;
  background-color: #cacdd1;
  color: #8b9197;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.footer-container {
  max-width: 1100px;
  /* margin: auto; */
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links a {
 color: #8b9197;
 margin-left: 50px;
  margin-left: 15px;
}
.icons{
color: #8b9197;
text-decoration: none;
}
.footer-links a:hover {
  color: #ffffff;
} 
